*{
  padding: 0;
  margin: 0;
  
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  
  .container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .task-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .task-form button {
    background-color: #063c76;
    color: rgb(246, 242, 242);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
  }
  
  .task-form input{
    height: 30px;
  }
  .task-list {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid rgb(235, 232, 232);
  }
  
  .completed {
    text-decoration: line-through;
    color:gray;
  }
  @media screen and (max-width:700px) {
    .container{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .task-form{
      flex-direction: column;
      gap: 4px;
    }
  }