
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500;600;700&family=Inter:wght@100;200;400;800;900&family=Josefin+Sans:wght@400;700&family=Manrope:wght@200&family=Merriweather:wght@300&family=Outfit:wght@700&family=Overpass:wght@400;700&family=Quicksand&display=swap');

*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  
}
body {
    background-color:aliceblue;
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
  }
  
  .container {
    margin-top: 15px;
    width: 60%;
   margin: auto;
    background-color: #fff;
   
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 98%;
  }
  
  .header{
    /* border:1px solid green; */
     display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
  }
  
  .task-form {
   
    display: flex;
    width: 100%;
    height: 20%; 
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid gray;
    
  
  }
  .task-form button {
    
    color: rgb(26, 84, 26);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .task-form input{
    height: 30px;
  }
  .task-list {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid rgb(235, 232, 232);
  }
  
  .completed {
    text-decoration: line-through;
    color:gray;
    height: 50%;
   
  }
  .complete{
    /* border: 1px solid red; */
    height: 50%;
    overflow-y: auto;
  }
  .uncomplete{
    
    height: 50%;
    /* border: 1px solid red; */
    overflow-y: auto;
  
  }
  .title{
    font-weight: bold;
    color: rgb(19, 19, 72);
  }
  h2{
    color: darkblue;
  }
  .task-list{
    /* border: 1px solid green; */
    height: 100%;
  }
  @media screen and (max-width:700px) {
    .container{
      width: 96%;
      display: flex;
      flex-direction: column;
    }
    .task-form{
      flex-direction: column;
      gap: 4px;
    }
    input{
      width: 70%;
    }
    li{
      flex-direction: column;
    }
    
  }